$lavender-gray: #c9cad9ff;
$lavender-blue: #d1d2f9ff;
$baby-blue-eyes: #a3bcf9ff;
$blue-gray: #7796cbff;
$dark-blue-gray: #576490ff;

$border: 2px solid $dark-blue-gray;

$testo1: "Azeret Mono", monospace;
$testo2: "Major Mono Display", monospace;
$testo3: "Roboto", sans-serif;
